@model SistemaAcademicoMVC.Models.Estudiante

@{
    ViewBag.Title = "Registrar Nuevo Estudiante";
}

<h2>Registrar Nuevo Estudiante</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Estudiante</h4>
        <hr />
        <!-- Mejora: ValidationSummary visible y sin ocultar errores automáticamente -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", id = "nombreEstudiante" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", id = "apellidosEstudiante" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", id = "identificacionEstudiante" } })
                @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", type = "date", id = "fechaNacimientoEstudiante" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", id = "provinciaEstudiante" } })
                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Canton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Canton, new { htmlAttributes = new { @class = "form-control", id = "cantonEstudiante" } })
                @Html.ValidationMessageFor(model => model.Canton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control", id = "distritoEstudiante" } })
                @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", id = "correoEstudiante" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Selector de cuatrimestre -->
        <div class="form-group">
            @Html.Label("Cuatrimestre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuatrimestreId", (IEnumerable<SelectListItem>)ViewBag.Cuatrimestres, "Seleccione...", new { @class = "form-control" })
                @Html.ValidationMessage("CuatrimestreId", "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Selector de cursos por cuatrimestre -->
        <div class="form-group">
            @Html.Label("Cursos asignados", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("CursosSeleccionados", (IEnumerable<SelectListItem>)ViewBag.CursosSeleccionados, new { @class = "form-control", multiple = "multiple", id = "cursosEstudiante" })
                @Html.ValidationMessage("CursosSeleccionados", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

    <script>
        // Campos del formulario que se guardarán en localStorage
        const campos = [
            "nombreEstudiante",
            "apellidosEstudiante",
            "identificacionEstudiante",
            "fechaNacimientoEstudiante",
            "provinciaEstudiante",
            "cantonEstudiante",
            "distritoEstudiante",
            "correoEstudiante"
        ];

        // Al cargar la página, rellenar los campos si hay datos guardados
        window.onload = function () {
            campos.forEach(function (campo) {
                if (localStorage.getItem(campo)) {
                    document.getElementById(campo).value = localStorage.getItem(campo);
                }
            });
            // Rellenar selección de cursos
            if (localStorage.getItem("cursosEstudiante")) {
                var cursosSeleccionados = JSON.parse(localStorage.getItem("cursosEstudiante"));
                var selectCursos = document.getElementById("cursosEstudiante");
                for (var i = 0; i < selectCursos.options.length; i++) {
                    selectCursos.options[i].selected = cursosSeleccionados.includes(selectCursos.options[i].value);
                }
            }
            // Rellenar selección de cuatrimestre
            if (localStorage.getItem("cuatrimestreEstudiante")) {
                document.getElementById("CuatrimestreId").value = localStorage.getItem("cuatrimestreEstudiante");
            }
        };

        // Guardar cada cambio en localStorage
        campos.forEach(function (campo) {
            document.getElementById(campo).addEventListener("input", function () {
                localStorage.setItem(campo, this.value);
            });
        });

        // Guardar selección de cursos en localStorage
        document.getElementById("cursosEstudiante").addEventListener("change", function () {
            var seleccionados = Array.from(this.selectedOptions).map(opt => opt.value);
            localStorage.setItem("cursosEstudiante", JSON.stringify(seleccionados));
        });

        // Guardar selección de cuatrimestre en localStorage
        document.getElementById("CuatrimestreId").addEventListener("change", function () {
            localStorage.setItem("cuatrimestreEstudiante", this.value);
        });

        // Solo limpiar localStorage si el registro fue exitoso (redirección)
        window.addEventListener("beforeunload", function () {
            if (window.location.pathname.endsWith("/Estudiantes/Index")) {
                // Limpiar datos luego de registrar correctamente
                campos.concat(["cursosEstudiante", "cuatrimestreEstudiante"]).forEach(function (campo) {
                    localStorage.removeItem(campo);
                });
            }
        });
    </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}