@model IEnumerable<SistemaAcademicoMVC.Models.Estudiante>

@{
    ViewBag.Title = "Lista de Estudiantes";
}

<h2>Lista de Estudiantes</h2>

<p>
    @Html.ActionLink("Crear Nuevo Estudiante", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellidos)</th>
            <th>@Html.DisplayNameFor(model => model.Identificacion)</th>
            <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Provincia)</th>
            <th>@Html.DisplayNameFor(model => model.Canton)</th>
            <th>@Html.DisplayNameFor(model => model.Distrito)</th>
            <th>@Html.DisplayNameFor(model => model.Correo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                <td>@Html.DisplayFor(modelItem => item.Identificacion)</td>
                <td>@item.FechaNacimiento.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.Provincia)</td>
                <td>@Html.DisplayFor(modelItem => item.Canton)</td>
                <td>@Html.DisplayFor(modelItem => item.Distrito)</td>
                <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    @foreach (var matricula in item.Matriculas)
                    {
                        @Html.ActionLink(
                            $"Califa: {matricula.Curso.Nombre}", // nombre del curso
                            "Calificar",
                            "Evaluacion",
                            new { cursoId = matricula.CursoId, estudianteId = item.Id },
                            new { @class = "btn btn-success btn-sm" }
                        )
                    }
                </td>
            </tr>
        }
    </tbody>
</table>